<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>BitBeatSynth</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.soundartgames.BitBeatSynth</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BitBeatSynth</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>AudioComponents</key>
	  <array>
	    <dict>
	      <key>name</key>
	      <string>BitBeatSynthPort</string>
	      <key>type</key>
	      <string>aurg</string>
	      <key>subtype</key>
	      <string>btbt</string>
	      <key>manufacturer</key>
	      <string>SDAR</string>
	      <key>version</key>
	      <integer>1</integer>
	      <key>description</key>
	      <string>Audiobus-Compatible Audio Unit</string>
	    </dict>
	  </array>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>bitbeatsynth-1.0.audiobus</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.soundartgames.bitbeatsynth</string>
          </dict>
        </array>
        <key>AudiobusAPIKey</key>
        <string>H4sIAAAAAAAAA22OQU7DMBBFr1J53dREFJpm18IBEBUrjCo7mbYjEscajxFW1bszjrpk+96fZ18V/AakrFpVb9bb7ea5bhq1VC75foCjtyOI2iPvwfIhe76ITDQcY3eB2TlkJy4WV9Wrh5VNPU4uxdZoo2UdJuKo2s+r4hzKhU10Fv5P+02mYnqIHWFgnLwMdvde9TKNwTK6ARYzW3x4LPOY3L3s2BUwWp9OtuNEQEIPr7t3oT9AcS7Wt6+lwl6M0Qyj/M9SrgjOGJlsedXob8hGPz6tG3X7A1C97mAjAQAA:dRoY0E/ropPy3IjQmUp5Mvn/+saoCeF0SSEJmz1qdCGtpAuMrJ6tXYum5Hk8RzxdPh/u4TqqAaww4A8mOaGrbhw9gIN4ho3IaFCMJWhhqANXJSwDoqrWiARUQJoXtWRM</string>
</dict>
</plist>
